.button {
    border: none;
    outline: none;

    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.4s ease-in-outs;
    background-color: rgb(255, 255, 255);


    &.primary-button {
        background-color: rgb(173, 13, 83);
        color: white;
    }

    &.balance-button {
        background-color: #a6b6f5;
    }

    &:active {
        transform: scale(0.95);
    }
}