.balance-container {
    width: 100%;
    height: 300px;
    background-color: var(--primary);
    box-shadow: 20px 20px 100px var(--border-color);
    border-right: 3px solid var(--border-color);
    color: var(--text-primary);

    border-radius: 1rem;
    margin: 1rem;

    p {
        font-size: 1rem;
        padding-inline: 1rem;
        padding-block: .75rem;
        font-weight: 500;
    }

    span {
        font-size: 4rem;
        font-weight: 800;
    }

    .balance-button {
        button {
            margin-top: 3.5rem;
            margin-inline: 1rem;
            font-size: 1.1rem;
        }
    }
}