.sidebar-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f3ff;

    .upper-section {
        width: 100%;

        .upper-head {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .logo i {
                font-size: 2rem;
                margin-right: 1.2rem;
            }
        }

        .link-group {
            margin-top: 2rem;
            width: 100%;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                margin-bottom: 0.5rem;
                height: 3rem;
                margin-inline: 0.5rem;
                font-size: 1.1rem;
                font-weight: 700;

                i {
                    margin-right: 1.5rem;
                }

                p {
                    width: 5rem;
                }
            }

            .link:hover {
                background-color: #d2d9f4;
            }
        }

    }

    .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 3rem;
        border-radius: 1rem;
        margin: 0.5rem;
        font-size: 1.2rem;
        font-weight: 700;

        p {
            width: 3rem;
        }

        i {
            margin-right: 1.5rem;
        }
    }

    .profile-container:hover {
        background-color: #d2d9f4;
    }
}